<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Hyperparameter Tuning

## *Data Science Unit 4 Sprint 2 Assignment 4*

## Your Mission, should you choose to accept it...

To hyperparameter tune and extract every ounce of accuracy out of this telecom customer churn dataset: [Available Here](https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv)

## Requirements

- Load the data
- Clean the data if necessary (it will be)
- Create and fit a baseline Keras MLP model to the data.
- Hyperparameter tune (at least) the following parameters:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (if applicable to optimizer)
 - momentum (if applicable to optimizer)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
 You must use Grid Search and Cross Validation for your initial pass of the above hyperparameters
 
 Try and get the maximum accuracy possible out of this data! You'll save big telecoms millions! Doesn't that sound great?

In [ ]:
import pandas as pd
import numpy as np

filepath = 'logs/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv'
df = pd.read_csv(filepath)
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df['TotalCharges']

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
df.drop(['customerID'], axis=1, inplace=True)

In [7]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
df[['Partner', 'Dependents', 'PhoneService', 'OnlineSecurity',
       'OnlineBackup','DeviceProtection', 'TechSupport', 'StreamingTV','StreamingMovies', 'PaperlessBilling',
       'Churn']] = df[['Partner', 'Dependents', 'PhoneService', 'OnlineSecurity',
       'OnlineBackup','DeviceProtection', 'TechSupport', 'StreamingTV','StreamingMovies', 'PaperlessBilling',
       'Churn']].replace({'Yes': 1, 'No': 0})
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,No,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,Male,0,0,0,2,1,No,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,No phone service,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,No,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [9]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                 int64
dtype: object

In [10]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges']

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [11]:
df.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [12]:
df.dropna(inplace=True)
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
df.describe(exclude='number')

,gender,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaymentMethod
count,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032
unique,2,3,3,3,3,3,3,3,3,3,4
top,Male,No,Fiber optic,0,0,0,0,0,0,Month-to-month,Electronic check
freq,3549,3385,3096,3497,3087,3094,3472,2809,2781,3875,2365

In [14]:
X = df.loc[:, df.columns != 'Churn']
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85
1,Male,0,0,0,34,1,No,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50
2,Male,0,0,0,2,1,No,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15
3,Male,0,0,0,45,0,No phone service,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75
4,Female,0,0,0,2,1,No,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,Yes,DSL,1,0,1,1,1,1,One year,1,Mailed check,84.80,1990.50
7039,Female,0,1,1,72,1,Yes,Fiber optic,0,1,1,0,1,1,One year,1,Credit card (automatic),103.20,7362.90
7040,Female,0,1,1,11,0,No phone service,DSL,1,0,0,0,0,0,Month-to-month,1,Electronic check,29.60,346.45
7041,Male,1,1,0,4,1,Yes,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Mailed check,74.40,306.60
7042,Male,0,0,0,66,1,No,Fiber optic,1,0,1,1,1,1,Two year,1,Bank transfer (automatic),105.65,6844.50

In [15]:
y = df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7032, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)
X_train.shape

(5625, 19)

In [17]:
import category_encoders as ce
from sklearn.preprocessing import OneHotEncoder

encoder = ce.one_hot.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test  = encoder.transform(X_test)
X_train.head()

c:\users\khisl\anaconda3\envs\unit-4-sprint-2\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,gender_Male,gender_Female,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines_Yes,MultipleLines_No phone service,MultipleLines_No,...,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling,PaymentMethod_Mailed check,PaymentMethod_Electronic check,PaymentMethod_Credit card (automatic),PaymentMethod_Bank transfer (automatic),MonthlyCharges,TotalCharges
852,1,0,0,0,0,2,1,1,0,0,...,1,0,0,0,1,0,0,0,24.85,62.00
2127,1,0,0,1,0,40,0,0,1,0,...,0,1,0,1,0,1,0,0,42.35,1716.45
597,1,0,0,0,0,4,1,1,0,0,...,1,0,0,0,1,0,0,0,65.55,237.20
206,1,0,0,1,1,72,0,0,1,0,...,0,0,1,1,0,0,1,0,55.45,4179.20
5014,1,0,1,1,0,71,0,0,1,0,...,1,0,0,1,0,0,0,1,52.30,3765.05

In [18]:
%load_ext tensorboard

import os
import datetime
import tensorflow as tf

logdir = os.path.join("logs", "baseline") 
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [19]:
import sklearn
from sklearn.preprocessing import StandardScaler 

scaler = StandardScaler()

# Fit the Scaler on a training dataset

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
type(X_test)

numpy.ndarray

In [20]:
# X_train.values
# X_test.values
y_train = y_train.values
y_test = y_test.values

In [23]:
#BASELINE

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

inputs = X_train.shape[1] 

model = Sequential([
    Dense(13, activation='sigmoid', input_shape=(inputs,)),
    Dense(1)
])


model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(x=X_train, 
        y=y_train,
        validation_data=(X_test,y_test),
        epochs=10,  
        callbacks=[tensorboard_callback])

Train on 5625 samples, validate on 1407 samples
Epoch 1/10
5625/5625 [==============================] - 1s 125us/sample - loss: 6.5042 - accuracy: 0.3387 - val_loss: 3.7089 - val_accuracy: 0.4357
Epoch 2/10
5625/5625 [==============================] - 0s 57us/sample - loss: 2.4139 - accuracy: 0.5810 - val_loss: 1.5370 - val_accuracy: 0.6596
Epoch 3/10
5625/5625 [==============================] - 0s 52us/sample - loss: 1.1194 - accuracy: 0.6933 - val_loss: 0.8961 - val_accuracy: 0.7271
Epoch 4/10
5625/5625 [==============================] - 0s 52us/sample - loss: 0.7439 - accuracy: 0.7312 - val_loss: 0.6246 - val_accuracy: 0.7548
Epoch 5/10
5625/5625 [==============================] - 0s 54us/sample - loss: 0.5528 - accuracy: 0.7573 - val_loss: 0.4969 - val_accuracy: 0.7626
Epoch 6/10
5625/5625 [==============================] - 0s 53us/sample - loss: 0.4946 - accuracy: 0.7692 - val_loss: 0.4699 - val_accuracy: 0.7775
Epoch 7/10
5625/5625 [==============================] - 0s 51us/sample - loss: 0.4850 - accuracy: 0.7803 - val_loss: 0.4591 - val_accuracy: 0.7910
Epoch 8/10
5625/5625 [==============================] - 0s 55us/sample - loss: 0.4759 - accuracy: 0.7856 - val_loss: 0.4596 - val_accuracy: 0.8017
Epoch 9/10
5625/5625 [==============================] - 0s 54us/sample - loss: 0.4732 - accuracy: 0.7872 - val_loss: 0.4720 - val_accuracy: 0.8010
Epoch 10/10
5625/5625 [==============================] - 0s 55us/sample - loss: 0.4695 - accuracy: 0.7881 - val_loss: 0.4773 - val_accuracy: 0.8024

Hyperparameter tune (at least) the following parameters:

- batch_size
- training epochs
- optimizer
- learning rate (if applicable to optimizer)
- momentum (if applicable to optimizer)
- activation functions
- network weight initialization
- dropout regularization
- number of neurons in the hidden layer

In [27]:
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.constraints import MaxNorm
from tensorflow.keras.layers import Dropout

# Function to create model, required for KerasClassifier
def create_model(lr, ac): # lr = learning rate; ac = activation_function
    # create optimizer
    adam = Adam(learning_rate=lr)
    # create model
    model = Sequential([Dense(100, input_dim=41, activation=ac, kernel_constraint=tf.keras.constraints.MaxNorm(max_value=2, axis=0)),
                        Dropout(0.1),
                        Dense(120, activation=ac, kernel_constraint=tf.keras.constraints.MaxNorm(max_value=2, axis=0)),
                        Dropout(0.1),
                        Dense(1, activation=ac)
    ])
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

# create model
model = KerasClassifier(build_fn=create_model, verbose=0)

# define the grid search parameters
# batch_size = [10, 20, 40, 60, 80, 100]
# param_grid = dict(batch_size=batch_size, epochs=epochs)

# define the grid search parameters
param_grid = {'ac': ['sigmoid', 'relu', 'tanh'],
              'lr':[.001, .01, .1, .2, .3, .5], 
              'batch_size': [30],
              'epochs': [10]}

# Create Grid Search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X_train, y_train)

# Report Results
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.8008888959884644 using {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.5}
Means: 0.7960888981819153, Stdev: 0.00701265930263905 with: {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.001}
Means: 0.797511100769043, Stdev: 0.004581014865172422 with: {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.01}
Means: 0.7944888830184936, Stdev: 0.0036172382706311777 with: {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.1}
Means: 0.7959111094474792, Stdev: 0.005777088687283688 with: {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.2}
Means: 0.793066656589508, Stdev: 0.0018129748822738932 with: {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.3}
Means: 0.8008888959884644, Stdev: 0.0028665649843305652 with: {'ac': 'sigmoid', 'batch_size': 30, 'epochs': 10, 'lr': 0.5}
Means: 0.7802666664123535, Stdev: 0.005880123403862684 with: {'ac': 'relu', 'batch_size': 30, 'epochs': 10, 'lr': 0.001}
Means: 0.7740444421768189, Stdev: 0.00510318240013165 with: {'ac': 'relu', 'batch_size': 30, 'epochs': 10, 'lr': 0.01}
Means: 0.7729777812957763, Stdev: 0.021129390712388566 with: {'ac': 'relu', 'batch_size': 30, 'epochs': 10, 'lr': 0.1}
Means: 0.7672888994216919, Stdev: 0.02589947775524517 with: {'ac': 'relu', 'batch_size': 30, 'epochs': 10, 'lr': 0.2}
Means: 0.771911108493805, Stdev: 0.019019735100333435 with: {'ac': 'relu', 'batch_size': 30, 'epochs': 10, 'lr': 0.3}
Means: 0.7697777867317199, Stdev: 0.016986867425059535 with: {'ac': 'relu', 'batch_size': 30, 'epochs': 10, 'lr': 0.5}
Means: 0.7304888725280761, Stdev: 0.03384040445032593 with: {'ac': 'tanh', 'batch_size': 30, 'epochs': 10, 'lr': 0.001}
Means: 0.7336889028549194, Stdev: 0.025507231026650746 with: {'ac': 'tanh', 'batch_size': 30, 'epochs': 10, 'lr': 0.01}
Means: 0.7166222214698792, Stdev: 0.061338237785140234 with: {'ac': 'tanh', 'batch_size': 30, 'epochs': 10, 'lr': 0.1}
Means: 0.6947555422782898, Stdev: 0.07473140097668514 with: {'ac': 'tanh', 'batch_size': 30, 'epochs': 10, 'lr': 0.2}
Means: 0.7292444348335266, Stdev: 0.020934042695184753 with: {'ac': 'tanh', 'batch_size': 30, 'epochs': 10, 'lr': 0.3}
Means: 0.7320888996124267, Stdev: 0.014687938050757484 with: {'ac': 'tanh', 'batch_size': 30, 'epochs': 10, 'lr': 0.5}

## Stretch Goals:

- Try to implement Random Search Hyperparameter Tuning on this dataset
- Try to implement Bayesian Optimiation tuning on this dataset using hyperas or hyperopt (if you're brave)
- Practice hyperparameter tuning other datasets that we have looked at. How high can you get MNIST? Above 99%?
- Study for the Sprint Challenge
 - Can you implement both perceptron and MLP models from scratch with forward and backpropagation?
 - Can you implement both perceptron and MLP models in keras and tune their hyperparameters with cross validation?